@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');


.header{
    margin: auto;
    width: 100vw;
    max-width: 62.5rem;
    position: relative;
    -webkit-box-shadow: 0px 0px 1rem 0.5rem #000000; 
    box-shadow: 0px 0px 1rem 0.5rem #000000; 
}

@media screen and (min-width: 64rem ) {
    .header{
    margin: 1rem auto 0  auto;
    }
}


.header__pic{
    width: 95vw;
    max-width: 62rem;
}

.header__title{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
}

