.frontInfo{
    padding: 1rem;
    background: #000000;
    -webkit-box-shadow: 0px 0px 1rem 0.5rem #000000; 
    box-shadow: 0px 0px 1rem 0.5rem #000000; 
    margin-bottom: 3rem;
}

@media screen and (min-width: 64rem ) {
    .frontInfo{
        left: 2rem;
    }
}

.frontInfo__text{
    color: #c2903d;
}